@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Varela+Round&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", "Roboto", sans-serif;
    font-weight: 400;
}

/* .body {
    background-color: black;
}  */

.bodyBox {
    background-color: black;
}

.main {
    background-color: black;
    position: relative;
}

.leftBox {
    width: 23vw;
    height: 90vh;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.logo_close {
    justify-content: space-between;
    align-items: center;
}

.closeBtn {
    padding-right: 18px;
    display: none;
}

.homeBox {
    border-radius: 0.5em;  
    margin: 0.35em;
    height: 23%;
}

.logo {
    padding-top: 1.25em;
}

.homeBox ul li {
    list-style: none;
    gap: 1em;
    padding-top: 0.8em;
}

.homeBox ul li img {
    width: 1.2em;
}

.home {
    font-weight: 600;
}

.home span:hover {
    cursor: pointer;
}

.search {
   padding-bottom: 1em;
}

.search span:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.libraryBox {
    margin: 0.35em;
    border-radius: 0.5em;
    position: relative;
    height: 74.5%;
    box-sizing: border-box;
}

.libraryNav {
    padding-bottom: 2.75em;
}

.libraryLogo {
    width: 85%;
    padding-top: 0.8em;
}

.libraryLogo img {
    width: 12%;
}

.libraryLogo h3 {
    padding-left: 0.75em;
    padding-top: 0.05em;
}

.libraryPlus {
    width: 10%;
}

.libraryPlus img {
    width: 1.2em;
    padding-top: 0.75em;
}

.libraryContent {
    height: 23%;
    overflow: auto;
}

.libraryContent::-webkit-scrollbar {
    display: none;
}

.libraryContent {
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.playlist, .podcast {
    background-color: #1f1f1f;
    padding: 1em;
    margin-right: 0.75em;
    border-radius: 1em;
}

.podcast {
    margin-top: 1em;
}

.playlist p, .podcast p {
    font-size: 0.9rem;
    font-weight: 400;
    padding-top: 1em;
}

.playlistBtn, .podcastBtn {
    margin-top: 1em;
    font-size: 0.85em;
    padding: 0.75em 1.75em;
    border: none;
    border-radius: 5vw;
    cursor: pointer;
    font-weight: 700;
}

.footer {
    display: flex;
    font-size: 8px;
    color: grey;
    gap: 11px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    flex-wrap: wrap;
}

.footer a {
    color: grey;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 200;
}

.footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rightBox {
    width: 77vw;
    background-color: black;
    margin-top: 0.35em; 
    height: 90vh; 
    max-height: 90vh; 
}

.rightNav {
    background-color: #101010;
    padding: 0.75em 1em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    justify-content: space-between;
    height: 6%;
    align-items: center;
}

.hamArrowNav {
    gap: 16px;
}

.hamburger {
    display: none;
}

.arrowNav {
    align-items: center;
}

.arrowNav span {
    cursor: pointer;
}

.btnsNav div {
    display: inline-block;
    overflow: hidden;
}

.signUp {
    background-color: #101010;
    border: none;
    color: #b3b3b3;
    cursor: pointer;
    padding-right: 2em;
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.logIn {
    background-color: white;
    font-size: 1em;
    font-weight: 500;
    padding: 0.5em 1.75em;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

.signUp:hover {
    font-size: 1.1em;
}

.signUp:hover {
    color: white;
}

.logIn:hover{
    font-weight: 600;
}

.spotifyPlaylist {
    height: 89%;
    background-color: #1d1d1d;
    color: white;
    margin: 0;
    overflow-y: scroll;
    max-height: 84vh;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em; 
}

.spotifyPlaylist::-webkit-scrollbar {
    width: 8px;
}

.spotifyPlaylist::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 8px;
}


.spotifyPlaylistHeading {
    font-weight:500;
    padding: 0.75em 0.5em;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap; 
}

.card {
    width: 23%;
    position: relative;
    padding: 0 1.5%;
    background-color: #181818;
    padding: 1em 1.25em;
    margin: 0 0.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0.75em;
    box-sizing: border-box;
    position: relative;
    border-radius: 1em;
}

.playlistCover {
    width: 100%;
    object-fit: contain;
}

.playBtn {
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-out;
    position: absolute;
    right: 12%;
    top: 85%;
}

.card:hover{
    cursor: pointer;
}

.card:hover .playBtn {
    opacity: 1;
    top: 55%;
}

.card h3 {
    margin: 0.5em 0.1em;
    font-weight: 600;
}

.card p {
    padding-bottom: 0.25em;
    font-size: 0.9rem;
    color: #9d9d9d;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    line-height: 1.5em;
    line-clamp: 2;
    box-orient: vertical;
}

.signUpFooter {
    height: 8.5vh;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    justify-content: space-between;
    color: white;
    width: 98.5vw; 
    margin: auto;
}

.mssg {
    margin: auto 1em;
    font-size: small;
}

.footerMssg1 {
    padding: 0.4em;
    font-weight: 500;
}

.footerMssg2 {
    padding-left: 0.4em;
    padding-bottom: 0.4em;
}

.freeSignUp {
    margin: auto 1em;
}

.freeSignUpBtn {
    background-color: white;
    font-size: 1em;
    font-weight: 500;
    padding: 0.5em 1.75em;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

.freeSignUpBtn:hover{
    font-weight: bold;
    font-size: 1.1em;
}

@media (width <=1050px) {
    .card {
        width: 30%;
    }
}

@media (width <= 800px) {
  .freeSignUp {
      font-size: smaller;
  }
}

@media (width <= 650px) {
  .card {
      width: 45%;;
  }

  .leftBox {
      position: absolute;
      left: -120%;
      z-index: 1;
      width: 75vw;
  }

  .rightBox {
      width: 100vw;
  }

  .hamburger {
    display: block;
  }

  .closeBtn {
    display: block;
  }

  .signUpFooter {
      font-size: x-small;
  }
}

@media (width <= 500px) {
    .mssg {
        font-size: smaller;
    }
  }

  


